.container {
  text-align: center;
  width: 80%;
}

.header {
  margin: 50px auto;
}

div.auth {
  color: black;
  font-size: 25px;
  float: right;
  display: inline-flex;
  margin-top: -45px;
}

div.auth .nav-link {
  padding: 0;
  margin-left: 25px;
}

div.nav-bar {
  margin: auto;
  height: 60px;
  background-color: black;
}

div.nav-bar .nav-link {
  color: ivory;
  font-size: 25px;
}

a.nav-link:hover {
  color: lightslategrey;
}
